<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607815772129-86nrnub4g0avrvnj5am5oeu9brme7me2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607815772129-86nrnub4g0avrvnj5am5oeu9brme7me2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607815772129-0cddlh4ds459p7c5k8fq3jdq0nuemgiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoj46q9Xw6EVZ4lOqrUuT5-ZlTLTa-p3w</string>
	<key>GCM_SENDER_ID</key>
	<string>607815772129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chatapptest</string>
	<key>PROJECT_ID</key>
	<string>chatapp-test-e46bb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-test-e46bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607815772129:ios:e9dcf149df20964ce0d4a0</string>
</dict>
</plist>